<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Api user</title>
</head>
<body>
    <p>Ime:
    <input type="text" id="ime">
    </p>

    <br>
    <p>Email:
    <input type="text" name="" id="email">
    </p>
    <br>
    <p>Password:
    <input type="password" name="" id="password">
    </p>
    <br>
    <input type="submit" id="potvr" value="Potvrdi">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="main.js"></script>
</body>
</html>