<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Shopify</title>
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    <!-- <link rel="stylesheet" href="/assets/fonts/fontawesome/css/solid.min.css"> -->
    <!-- <link rel="stylesheet" href="/assets/fontawesome/css/all.css"> -->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="/assets/fontawesome/css/"> -->
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <!-- <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    
</head>
<body onbeforeunload="preventBack(event)" onunload="preventBack(event)">
    <div class="col-xs-sm-md-lg-12" id="container">
        
        <!-- HEADER SECTION -->
        <div id="header-background"></div>
        <img src="/assets/pictures/default(2).jpeg" id="cover-photo" srcset="">
        
        <!-- HEADER -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="header">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="logo">
                <img src="/assets/icons/logo.png" alt="" srcset="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="title"><h1>Shopify</h1></div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="nav-right">
                <button id="login-btn">Login</button>
                <img src="/assets/users/default.png" class="profile-picture">
            </div>
        
            <!-- Profile Modal -->
            <div class="col-12 header__profile-modal">
                <div class="col-12 header__profile-modal__container">
                    <div class="col-9"></div>
                    <div class="col-3 user-info">
                        <!-- Name of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__name-picture">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-xs-9 user-info__name"><p class="user-info__username">Zdravko</p></div>
                        </div>
                        
                        <!-- Email of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__email-picture">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-xs-9 user-info__email"><p class="user-info__email">zdravko@gmail.com</p></div>
                        </div>
                        
                        <!-- Type of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__type-picture">
                                <i class="fa fa-unlock"></i>
                            </div>
                            <div class="col-xs-9 user-info__type"><p class="user-info__type">admin</p></div>
                        </div>
                        
                        <!-- Logout user -->
                        <div class="col-xs-12 logout">
                            <div class="col-xs-3 user-info__logout-picture">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <div class="col-xs-3 user-info__logout"><p class="user-info__logout">Logout</p></div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>


        <div class="main-section">
            
            <div class="cards">
                
                <div class="card card__main-section">
                    <div class="card__image">
                        <img src="" alt="" class="card__image-img">
                    </div>
                    <div class="card__title">Pica</div>
                    <div class="card__price">12.25</div>
                </div>
            </div>

            <div class="left-navbar">
                    <div class="card menus">Menus</div>
                    <div class="card My-Orders">My orders</div>
                    <div class="card all_orders">All orders</div>
                    <div class="card all_users">Users</div>
            </div>
            <i class="fa fa-plus-circle"></i>
        </div>

    </div>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>    
    
    <div class="detail-modal">
        <div class="col-xs-sm-md-lg-12 header row">

            <!-- ----------------------------------------------------------
                            All menus modal
            ---------------------------------------------------------- -->
            <div class="col-xs-sm-md-lg-12 menu-modal">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 detail__picture">
                        <img src="/assets/pictures/default-food.jpg" alt="" srcset="" class="detail__picture_img">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 detail__about">
                    <div class="detail__about-title">
                        <p class="detail__about-titleText">Naslov</p>
                    </div>
                    <div class="detail__about-category">
                        <p class="detail__about-category">Kategorija</p>
                    </div>
                </div>
            </div>
            

            <!-- ----------------------------------------------------------
                            All users modal
            ------------------------------------------------------------->
            <div class="col-12 user_detail__modal row">
                <div class="col-12 col-sm-6 user_detail__modal_img_div">
                    <img src="/assets/pictures/default-food.jpg" alt="" class="user_detail_modal_img"/>
                </div>
                <div class="col-12 col-sm-6 user_detail__modal_about">
                    Neki about
                </div>
            </div>


            <!-- ----------------------------------------------------------
                            All orders modal 
            ---------------------------------------------------------- -->
            <div class="col-12 all_orders_modal row">
                <div class="col-12 col-sm-6 all_orders_modal__img_div">
                    <img src="/assets/pictures/default-food.jpg" class="all_orders_modal__img">
                    <div class="all_orders_title"></div>
                </div>
                <div class="col-12 col-sm-6 all_orders_user">
                    <img src="/assets/pictures/default.jpg" class="all_orders_user_photo">
                    <div class="all_orders_user_info">
                        Informacije o user-u
                    </div>
                </div>
                <div class="col-12 all_orders_description">

                </div>
            </div>
            <!-- ----------------------------------------------------------
                            My orders modal
            ----------------------------------------------------------- -->
            <div class="col-12 my_orders_modal row">
                <div class="col-12 col-sm-6 my_orders_modal__img">
                    <img src="/assets/pictures/default.jpg" class="my_orders_modal_img"/>
                </div>
                <div class="col-12 col-sm-6 my_orders_modal__description">
                    <div class="col-12 my_orders_modal__description__title"></div>
                    <div class="col-12 my_orders_modal__description__category"></div>
                    <div class="col-12 my_orders_modal__description__order"></div>
                    <div class="col-12 my_orders_modal__description__price"></div>
                    <div class="col-12 my_orders_modal__description__total"></div>
                </div>
            </div>
            <!-- ----------------------------------------------------------
                            Add new  user form
            ---------------------------------------------------------- -->
            <div class="col-12 add_user_modal row">
                <div class="col-3"></div>
                <div class="col-6 add_user_modal_form">
                    <label for="">Profile picture</label>
                    <div class="add_user_modal_form__image_div">
                        <input type="file" id="add_user_modal_form_image-input">
                    </div>
                    <div class="add_user_modal_form__user-type">
                        <button value="user" class="user-type__user user-type__button">User</button>
                        <button value="admin" class="user-type__admin user-type__button">Admin</button>
                    </div>
                    <div class="add_user_modal_inputs">
                        <input type="text" id="add_user_name_input" placeholder="Full name">
                        <input type="email" id="add_user_email_input" placeholder="Email: someone@some.com">
                        <input type="password" id="add_user_password_input" placeholder="Password">
                        <input type="password" id="add_user_repeat_password" placeholder="Repeat password">
                    </div>
                    <div class="col-12 add_user_modal__buttons row">
                        <div class="col-5 add_user__submit_button">
                            <p>Submit</p>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5 add_user__reset_button">
                            <p>Reset</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 submit">
                    
                </div>
            </div>
            <!-- --------------------------------------------------------
                        Add new food on menu
            -------------------------------------------------------- -->
            <div class="col-12 add_menu_modal row">
                <div class="col-2"></div>
                <div class="col-8 add_menu_modal__form row">
                    <div class="col-12 add_menu_modal__image-div row">
                        <div class="col-2"></div>
                        <div class="col-8 add_menu_modal__image-div_main">
                                <input type="file" id="add_menu_modal__image-input" hidden>
                        </div>
                        
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8 add_menu_main_div">
                        <div class="col-12 menu_data">
                            <select name="" id="" class="add_menu__category">
                                <option value="" disabled selected>Select a category</option>
                            </select>
                        </div>
                        <div class="col-12 menu_data">
                            <input type="text" name="" id="add_menu__name" placeholder="Food name">
                        </div>
                        <div class="col-12 menu_data">
                            <input type="text" name="" id="add_menu__price" placeholder="Price">
                        </div>
                        <div class="col-12 menu_data">
                            <textarea name="" id="add_menu__description" cols="30" rows="10" placeholder="Opis jela/pica"></textarea>
                            <!-- <div contenteditable="" class="add_menu__description"><p>Descritpion</p></div> -->
                        </div>
                        <div class="col-12 row">
                            <!-- <div class="col-2"></div> -->
                            <div class="add_menu__form-buttons row">
                                <div class="col-5 add_menu__submit"><p>Submit</p></div>
                                <div class="col-2"></div>
                                <div class="col-5 add_menu__reset"><p>Reset</p></div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="col-2"></div>
            </div>
                    <!-- ----------------------------------------------------------------------
                                Make order form modal
                    ---------------------------------------------------------------------- -->
                    <div class="col-12 make_order_modal">
                        <div class="col-2"></div>
                        <div class="col-10 make_order__container">
                            <div class="col-12 make_order__div">
                                <div class="col-10 make_order__order-title">
                                    Naslov
                                </div>
                                <div class="col-10">
                                    <div class="col-1"></div>
                                    <input class="col-10" type="text" name="" id="make_order__order-quantity" placeholder="Quantity">
                                </div>
                                
                                <div class="col-5">Jedinicna cena:
                                    <div class="col-6 make_order__single-price"></div>
                                </div>
                                <div class="col-5 make_order__order-full-price">
                                    Puna cena:
                                    <div class="col-6 make_order__order-price"></div>
                                </div>
                                <div class="col-2"></div>
                                <button class="col-10 make_order__order-submit">Potvrdi</button>
                            </div>
                        </div>
                    </div>


                    
                    
             
        </div>

        

        <img src="/assets/icons/cancel.png" class="detail-modal__close_btn">
    </div>


    <!-- Login-Register modal -->
    <div class="modal-login-register">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__login-title">
            <h2>Prijavite se na Shopify</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__email">
            <input type="text" name="username" class="login-email" placeholder="Email">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__password">
            <input type="password" name="password" class="login-password" placeholder="Password">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__submit">
            <button class="modal-login-form__submit-button">Potvrdi</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-register__signup-options">
            <p class="register">Registruj se</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p class="forgot-psswd">Zaboravio sam sifru</p>
            <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 modal-login-register__signup-options__signup">Registruj se</div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 modal-login-register__signup-options__forgot-password">Zaboravio sam sifru</div> -->
        </div>
        
        <img src="/assets/icons/cancel.png" class="close-login-modal__button">
    </div>



    <!-- <script src="/assets/fontawesome/js/fontawesome.js"></script> -->
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/animation.js"></script>
    <script src="/scripts/actions.js"></script>
    <script src="/scripts/dom.js"></script>
    <script src="/scripts/api.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/forms.js"></script>
</body>
</html>