<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopify</title>
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    
</head>
<body>
    <div class="col-xs-sm-md-lg-12" id="container">
        
        <!-- HEADER SECTION -->
        <div id="header-background"></div>
        <img src="/assets/pictures/default(2).jpeg" id="cover-photo" srcset="">
        
        <!-- HEADER -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="header">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="logo">
                <img src="/assets/icons/logo.png" alt="" srcset="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="title"><h1>Shopify</h1></div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="nav-right">
                <button id="login-btn">Login</button>
                <img src="/assets/users/default.png" class="profile-picture">
            </div>
        
            <!-- Profile Modal -->
            <div class="col-12 header__profile-modal">
                <div class="col-12 header__profile-modal__container">
                    <div class="col-9"></div>
                    <div class="col-3 user-info">
                        <!-- Name of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__name-picture">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="col-xs-9 user-info__name"><p class="user-info__username">Zdravko</p></div>
                        </div>
                        
                        <!-- Email of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__email-picture">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-xs-9 user-info__email"><p class="user-info__email">zdravko@gmail.com</p></div>
                        </div>
                        
                        <!-- Type of user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__type-picture">
                                <i class="fa fa-unlock"></i>
                            </div>
                            <div class="col-xs-9 user-info__type"><p class="user-info__type">admin</p></div>
                        </div>
                        
                        <!-- Logout user -->
                        <div class="col-xs-12">
                            <div class="col-xs-3 user-info__logout-picture">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <div class="col-xs-3 user-info__logout"><p class="user-info__logout">Logout</p></div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>


        <div class="main-section">
            
            <div class="cards">
                
                <div class="card card__main-section">
                    <div class="card__image">
                        <img src="" alt="" class="card__image-img">
                    </div>
                    <div class="card__title">Pica</div>
                    <div class="card__price">12.25</div>
                </div>
            </div>

            <div class="left-navbar">
                    <div class="card menus">Menus</div>
                    <div class="card My-Orders">My orders</div>
                    <div class="card all_orders">All orders</div>
                    <div class="card all_users">Users</div>
            </div>

        </div>

    </div>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>    
    
    <div class="detail-modal">
        <div class="col-xs-sm-md-lg-12 header row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 detail__picture">
                <img src="/assets/pictures/default-food.jpg" alt="" srcset="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 detail__about">
                <div class="detail__about-title">
                    <p class="detail__about-titleText">Naslov</p>
                </div>
                <div class="detail__about-category">
                    <p class="detail__about-category">Kategorija</p>
                </div>
            </div>
        </div>

        <img src="/assets/icons/cancel.png" class="detail-modal__close_btn">
    </div>


    <!-- Login-Register modal -->
    <div class="modal-login-register">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__login-title">
            <h2>Prijavite se na Shopify</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__email">
            <input type="text" name="username" class="login-email" placeholder="Email">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__password">
            <input type="password" name="password" class="login-password" placeholder="Password">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-form__submit">
            <button class="modal-login-form__submit-button">Potvrdi</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-login-register__signup-options">
            <p class="register">Registruj se</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p class="forgot-psswd">Zaboravio sam sifru</p>
            <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 modal-login-register__signup-options__signup">Registruj se</div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 modal-login-register__signup-options__forgot-password">Zaboravio sam sifru</div> -->
        </div>
        
        <img src="/assets/icons/cancel.png" class="close-login-modal__button">
    </div>



    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/animation.js"></script>
    <script src="/scripts/actions.js"></script>
    <script src="/scripts/dom.js"></script>
    <script src="/scripts/api.js"></script>
    <script src="/scripts/auth.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/forms.js"></script>
</body>
</html>